:root {
  --gray: rgb(212, 212, 212);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main#content {
  flex: 1 1 0;
  background-color: var(--gray);
}

footer {
  padding: 20px;
  background-color: white;
  text-align: center;
}
a#nav-link active {
  color: white;
}
.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}

.img-product {
  background-color: black;
  color: white;
  text-align: center;
  max-width: 256px;
  max-height: 256px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .img-product {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 96px;
    max-height: 96px;
    object-fit: contain;
  }
}

.w-max {
  width: max-content;
}

.img-product-sm {
  background-color: black;
  color: white;
  text-align: center;
  width: 96px;
  height: 96px;
  object-fit: contain;
}
.efecto1:hover {
  transform: scaleX(-1);
  transform: scaleX(-1);
}

.efecto2:hover {
  filter: opacity(0.5);
}

.efecto3:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
}
.efecto4:hover {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}
.col-8 border {
  background-color: white;
}
.col-1 border {
  background-color: gray;
}
.table {
  border: 2px solid black;
}

.container text-start {
  padding-bottom: 20px;
}
